<h1>Editing question</h1>

<%= form_for :question, url: question_path(), method: :patch do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited
        this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <strong>
    <%= "Media" %>
  </strong>
  </p>
  <p>
    <%= f.text_field :media %>
  </p>

  <p>
  <strong>
    <%= "Question" %>
  </strong>
  </p>
  <p>
    <%= f.text_area :questionprompt %>
  </p>

  <p>
  <strong>
    <%= "Answers" %>
  </strong>
  </p>
    <% @question.answers.each do |fa| %>
      <p>
        ID: <%= fa.id %> <br>
        <%= fa.answeroption %> <br>
        <%= link_to 'Edit', edit_answer_path(id: fa.id) %> <br>
      </p>
    <% end %>

  <p>
    <%= f.submit %>
  </p>

  <% end %>

  <%= link_to 'Back', question_path %>
