<h3>
  Edit Screen:
  <%= @scenario.name %>
</h3>
<u>Description</u>
<p>
  <%= @scenario.description %>
</p>


<% @questions.each do |question| %>
<div class="panel">
  <p>
    <strong>
      Unique ID:
    </strong>
      <%= question.id %> <br>
       <strong>Last updated:</strong> <%= question.updated_at %> <br>
       <strong>Created:</strong> <%= question.created_at %> <br>
  </p>
  <p>
    <strong>Prompt</strong><br>
    <%= question.questionprompt %>
  </p>
  <strong>Answers</strong>
  <ol>
    <% question.answers.each do |answer| %>
      <li>
        <%= answer.answeroption %>
        <%= answer.response %>
      </li>
    <% end %>
  </ol>
  <%= link_to 'Edit', {:controller=>"questions", :action=>"edit", :scenario_id=>@scenario.id, :id=>question.id}, :class=>"button small" %>
</div>

<% end %>
