<ul class="no-bullet answer-choices" id="answer-choices">
  <% @answer.each do |answer| %>
  <li id="answer-choice-<%= answer.id %>" class="answer-choice">
    <label>
        <div class="check">
          <div id="checkboxFiveInput"></div>
        </div>
        <div class="clear-fix"></div>
        <%= answer.answeroption %>
      <div class="clear-fix"></div>
    </label>
    <div id="answer-<%= answer.id %>" class="answer-response-holder" data-response="<%= answer.nextQuestion %>">
      <h4>
        <%= answer.response %>
      </h4>
      <hr>
      <%= link_to 'Next', {:controller => 'scenarios', :action=> 'question', :id=>answer.nextQuestion }, :class=>"button success small full-w" %>
    </div>
  </li>
  <% end %>


  <li class="button-contain">
    <button data-reveal-id="submitResponse" class="button full-w" disabled>
      Submit Answer
    </button>
  </li>
</ul>
