<h5>Select an answer below
    <button class="button-hint">
      <i class="step fi-eye right hint-button"></i>
    </button>
  </h5>
<hr>
<ul class="no-bullet answer-choices" id="answer-choices">
  <% @answer.each do |answer| %>
  <% if( answer.nextQuestion == @question.id ) %>
  <% @isSame = "Back" %>
  <% @isSameClass = "alert" %>
  <% else %>
  <% @isSame = "Next" %>
  <% @isSameClass = "success" %>
  <% end %>
  <li id="answer-choice-<%= answer.id %>" class="answer-choice <%= @isSameClass %>">
    <label>
        <div class="check">
          <div id="checkboxFiveInput"></div>
        </div>
        <div class="clear-fix"></div>
        <%= raw(answer.answeroption) %>
      <div class="clear-fix"></div>
    </label>
    <div id="answer-<%= answer.id %>" class="answer-response-holder " data-response="<%= answer.nextQuestion %>">
      <h4 class=""><%= raw(answer.response) %></h4>
      <hr>
      <%= link_to @isSame, {:controller => 'scenarios', :action=> 'question', :id=>answer.nextQuestion }, :class=>"#{@isSameClass} button small full-w" %>
    </div>
  </li>
  <% end %>


  <li class="button-contain">
    <button class="button full-w" disabled>
      Submit Answer
    </button>
  </li>
</ul>
