<h1>Editing answer</h1>

<%= form_for :answer, url: answer_path(), method: :patch do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited
        this answer from being saved:</h2>
      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><strong><%= "Answer" %></strong></p>
  <p><%= f.text_field :answeroption %></p>

  <p><strong><%= "Response" %></strong></p>
  <p><%= f.text_area :response %></p>


  <p><strong><%= "Next Question" %></strong></p>
  <p><%= f.text_field :nextQuestion %></p>

  <p><%= f.submit 'Save', :class=>'button right small' %></p>

  <% end %>

  <%= link_to 'Back', answer_path, :class=>"button small secondary left" %>
