<!DOCTYPE html>
<html>
<head>
  <title>MedicalSimulation</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <div class="large-2 column">
    <%= render 'shared/sidenav' %>
  </div>
  <div class="large-10 column">

    <%= yield %>

  </div>

</body>
</html>
