<!DOCTYPE html>
<html>
<head>
  <title>MedicalSimulation</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper" class="<%= current_page?(root_path) %>">

    <% provide(:title, "Intraoperative Neuromonitoring (IONM) Changes Web Simulator") %>
    <% provide(:description, "Created by the Center for Pediatric Orthopaedic Research at the Columbia University Medical Center") %>

      <%= render 'shared/topnav' %>
      <%= render 'shared/header' %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <div class="row">

      <div class="large-2 medium-2 column">
        <%= render 'shared/sidenav' %>
      </div>
      <div class="large-10 medium-10 column back-white">
        <div class="column">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'questions/mediaPopup' %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  </div>

</body>
</html>
