<!DOCTYPE html>
<html>
<head>
  <title>MedicalSimulation</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% provide(:title, "IOM Web Simulator") %>
<% provide(:description, "Created by the Center for Pediatric Orthopaedic Research at the Columbia University Medical Center") %>

    <%= render 'shared/topnav' %>

    <%= render 'shared/header' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <div class="row">

    <div class="large-3 column hide-for-medium-down">
      <%= render 'shared/sidenav' %>
    </div>
    <div class="large-9 column back-white">
      <div class="column">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= debug(params) %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>



</body>
</html>
